<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simulate Loan Payment</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://bootstrapessentials.com/dist/css/bootstrap-essentials.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.3/css/ion.rangeSlider.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.3/css/ion.rangeSlider.skinFlat.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="page-header">
        <h1 class="text-center">Simulate Loan Payment</h1>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Loans</h3>
                    </div>
                    <div class="panel-body">
                        <label>Home</label>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="text" id="home" name="home" value="1407348" class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <input type="text" id="home_emi" name="home_emi" value="17000" />
                            </div>
                            <div class="col-xs-4">
                                <input type="text" id="home_rate" name="home_rate" value="8.3" />
                            </div>
                        </div>
                        <label>Home Topup</label>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="text" id="topup" name="topup" value="1563950" class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <input type="text" id="topup_emi" name="topup_emi" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input type="text" id="topup_rate" name="topup_rate" value="" />
                            </div>
                        </div>
                        <label>Education</label>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="text" id="education" name="education" value="1050000" class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <input type="text" id="education_emi" name="education_emi" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input type="text" id="education_rate" name="education_rate" value="" />
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div id="loan_total"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Earnings</h3>
                    </div>
                    <div class="panel-body">
                        <label>Gaurav</label>
                        <input type="text" id="gaurav_earning" name="gaurav_earning" value="81000" />
                        <label>Radhika</label>
                        <input type="text" id="radhika_earning" name="radhika_earning" value="30000" />
                        <label>Pappa</label>
                        <input type="text" id="pappa_earning" name=pappa_earning value="35000" />
                        <label>Increment Rate</label>
                        <input type="text" id="increment_earning" name="increment_earning" value="" />
                    </div>
                    <div class="panel-footer">
                        <div id="earning_total"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h2>EMI Plan</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Home Calculation</h3>
                    </div>
                    <div id="home_pie"></div>
                    <div id="home_result" class="pre-scrollable"></div>
                    <div class="panel-footer">
                        <div id="home_result_footer"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Topup Calculation</h3>
                    </div>
                    <div id="topup_pie"></div>
                    <div id="topup_result" class="pre-scrollable"></div>
                    <div class="panel-footer">
                        <div id="topup_result_footer"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Education Calculation</h3>
                    </div>
                    <div id="education_pie"></div>
                    <div id="education_result" class="pre-scrollable"></div>
                    <div class="panel-footer">
                        <div id="education_result_footer"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h2>Total Current Interest</h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h5>Month</h5>
                        <h1 id="month_interest_total"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h5>Day</h5>
                        <h1 id="day_interest_total"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h5>Hour</h5>
                        <h1 id="hour_interest_total"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h5>Minute</h5>
                        <h1 id="min_interest_total"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="app" class="container">

        <exp-panel v-bind:todo="regular">
        </exp-panel>

        <exp-panel v-bind:todo="savings">
        </exp-panel>

        <inout-panel v-bind:todo="inOut">
        </inout-panel>
    </div>
    <footer class="footer navbar-inverse">
        <div class="container">
            <p class="text-right">&copy; Copyright Gaurav Panchal 2019</p>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IonRangeSlider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.3/js/ion.rangeSlider.min.js"></script>

    <script>
        function html(str) {
            return str.raw[0]
            // template literals support
        }
        var config = {
            timeStamp: "00:08 01-04-2019",
            expenditure: {
                loans: {
                    home: {
                        principal: 1360266,
                        emi: 16913,
                        rate: 8.6
                    },
                    topup: {
                        principal: 1548501,
                        emi: 32694,
                        rate: 9.3
                    },
                    education: {
                        principal: 936442,
                        emi: 22245,
                        rate: 12.0
                    }
                },
                regular: [
                    {
                        name: "LIC",
                        slug: "lic",
                        account: '1',
                        expenses:[
                            {
                                name: 'mom',
                                amount: 17000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'radhika',
                                amount: 9000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'gaurav',
                                amount: 23000,
                                assignee: 'pappa'
                            }
                        ]
                    },
                    {
                        name: "Medical CLaim",
                        slug: "mediClaim",
                        account: 'account - KTK',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 9749,
                                assignee: 'pappa'
                            },
                            {
                                name: 'radhika',
                                amount: 6396,
                                assignee: 'pappa'
                            },
                            {
                                name: 'pappa',
                                amount: 17659,
                                assignee: 'pappa'
                            }
                        ]
                    },
                    {
                        name: "Fuel",
                        slug: "fuel",
                        account: 'operative',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 12000,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'radhika',
                                amount: 24000,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'pappa',
                                amount: 12000,
                                assignee: 'pappa',
                                flush: true
                            }
                        ]
                    },
                    {
                        name: "Groceries",
                        slug: "groceries",
                        account: 'account - DAD BOB',
                        expenses:[
                            {
                                name: 'Main',
                                amount: 60000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'milk',
                                amount: 18000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'dog',
                                amount: 18000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'veg',
                                amount: 24000,
                                assignee: 'pappa'
                            },
                        ]
                    },
                    {
                        name: "Household",
                        slug: "household",
                        account: 'account - MOM CENT',
                        expenses:[
                            {
                                name: 'society',
                                amount: 7200,
                                assignee: 'pappa'
                            },
                            {
                                name: 'gas',
                                amount: 12000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'maid',
                                amount: 72000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'iron',
                                amount: 7200,
                                assignee: 'pappa'
                            },
                            {
                                name: 'electric',
                                amount: 48000,
                                assignee: 'pappa',
                                flush: true
                            },
                            {
                                name: 'amc',
                                amount: 1200,
                                assignee: 'pappa'
                            },
                            {
                                name: 'repair',
                                amount: 5040,
                                assignee: 'pappa'
                            },
                            {
                                name: 'masala',
                                amount: 9600,
                                assignee: 'pappa'
                            },
                            {
                                name: 'grains',
                                amount: 9600,
                                assignee: 'pappa'
                            },
                            {
                                name: 'pickle',
                                amount: 3000,
                                assignee: 'pappa'
                            },
                        ]
                    },
                    {
                        name: "Food",
                        slug: "food",
                        account: 'operative',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 24000,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'radhika',
                                amount: 12000,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'pappa',
                                amount: 8400,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'home',
                                amount: 24000,
                                assignee: 'pappa',
                                flush: true
                            }
                        ]
                    },
                    {
                        name: "Health and Care",
                        slug: "health",
                        account: 'account - MOM CENT',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 9600,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'radhika',
                                amount: 15120,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'pappa',
                                amount: 5040,
                                assignee: 'pappa',
                                flush: true
                            },
                            {
                                name: 'medicine',
                                amount: 12000,
                                assignee: 'pappa',
                                flush: true
                            }
                        ]
                    },
                    {
                        name: "entertainment",
                        slug: "entertainment",
                        account: 'account4',
                        expenses:[
                            {
                                name: 'shopping',
                                amount: 60000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'birthday',
                                amount: 9600,
                                assignee: 'pappa'
                            }
                        ]
                    },   
                ]
            }
        }
        var loans = config.expenditure.loans;
        var currentInterest = 0;
        $("#home").val(loans.home.principal);
        $("#home").on('change', function (data) {
            emiCalc('home', 120000, 12, 0.3);
        });

        $("#home_emi").val(loans.home.emi);
        $("#home_emi").ionRangeSlider({
            min: 0,
            max: 30000,
            from: loans.home.emi,
            onStart: function (data) {
                emiCalc('home', 120000, 12, 0.3);
            },
            onChange: function (data) {
                emiCalc('home', 120000, 12, 0.3);
            }
        });

        $("#home_rate").val(loans.home.rate);
        $("#home_rate").ionRangeSlider({
            min: 4.00,
            max: 15.00,
            from: loans.home.rate,
            step: 0.1,
            onStart: function (data) {
                emiCalc('home', 120000, 12, 0.3);
            },
            onChange: function (data) {
                emiCalc('home', 120000, 12, 0.3);
            }
        });

        $("#topup").val(loans.topup.principal);
        $("#topup").on('change', function (data) {
            emiCalc('topup');
        });

        $("#topup_emi").val(loans.topup.emi);
        $("#topup_emi").ionRangeSlider({
            min: 0,
            max: 60000,
            from: loans.topup.emi,
            onStart: function (data) {
                emiCalc('topup');
            },
            onChange: function (data) {
                emiCalc('topup');
            }
        });

        $("#topup_rate").val(loans.topup.rate);
        $("#topup_rate").ionRangeSlider({
            min: 4.00,
            max: 15.00,
            from: loans.topup.rate,
            step: 0.1,
            onStart: function (data) {
                emiCalc('topup');
            },
            onChange: function (data) {
                emiCalc('topup');
            }
        });

        $("#education").val(loans.education.principal);
        $("#education").on('change', function (data) {
            emiCalc('education');
        });

        $("#education_emi").val(loans.education.emi);
        $("#education_emi").ionRangeSlider({
            min: 0,
            max: 30000,
            from: loans.education.emi,
            onStart: function (data) {
                emiCalc('education');
            },
            onChange: function (data) {
                emiCalc('education');
            }
        });

        $("#education_rate").val(loans.education.rate);
        $("#education_rate").ionRangeSlider({
            min: 4.00,
            max: 15.00,
            from: loans.education.rate,
            step: 0.1,
            onStart: function (data) {
                emiCalc('education');
            },
            onChange: function (data) {
                emiCalc('education');
            }
        });

        $("#gaurav_earning").ionRangeSlider({
            min: 0,
            max: 100000,
            from: 81000
        });

        $("#radhika_earning").ionRangeSlider({
            min: 0,
            max: 100000,
            from: 30000
        });

        $("#pappa_earning").ionRangeSlider({
            min: 0,
            max: 100000,
            from: 35000
        });

        $("#increment_earning").ionRangeSlider({
            min: 0,
            max: 70,
            from: 30
        });

        function totalMonthEmi() {
            var homeEmi = parseFloat($("#home_emi").val());
            var topupEmi = parseFloat($("#topup_emi").val());
            var eduEmi = parseFloat($("#education_emi").val());

            var total = homeEmi + topupEmi + eduEmi;
            $("#loan_total").html("<div class='text-right'>Total EMI:" + total + "</div>");
        }

        function totalEarning() {
            var gauravEarning = parseFloat($("#gaurav_earning").val());
            var radhikaEarning = parseFloat($("#radhika_earning").val());
            var pappaEarning = parseFloat($("#pappa_earning").val());

            var total = gauravEarning + radhikaEarning + pappaEarning;
            $("#earning_total").html("<div class='text-right'>Total Earning:" + total + "</div>");
        }

        function incrementCalc(name) {

        }

        function expenditureCalc() {

        }

        function emiCalc(loanName, flushAmount, flushInterval, incrementRate) {
            var tableStart =
                '<table class="table"><thead><tr><th>Month</th><th>Principal</th><th>Interest</th><th>Balance</th></tr></thead><tbody>';
            var loanPrincipal = parseFloat($("#" + loanName).val());
            var loanEmi = parseFloat($("#" + loanName + "_emi").val());
            var loanRate = parseFloat($("#" + loanName + "_rate").val());
            var monthRate = parseFloat(loanRate / 12);

            var totalInterest = 0
            var totalPrincipal = 0
            var htmlBuffer = tableStart;
            var month = 0;
            var first = false;
            while (loanPrincipal > 0 && month < 500) {
                var monthInterest = loanPrincipal * (monthRate / 100);
                totalInterest += monthInterest;
                var principal = loanEmi - monthInterest;
                month++;
                if (flushAmount && flushInterval && incrementRate) {
                    if (month % flushInterval === 0 && loanPrincipal > flushAmount) {
                        loanPrincipal = loanPrincipal + monthInterest - loanEmi - flushAmount;
                        flush = '(' + flushAmount + ')';
                        totalPrincipal += principal + flushAmount;
                        flushAmount = flushAmount + (flushAmount * incrementRate)
                        htmlBuffer += '<tr><td>' + month + '</td><td>' + principal.toFixed(2) + '</td><td>' +
                            monthInterest.toFixed(2) + '</td><td>' + loanPrincipal.toFixed(2) + ' ' + flush +
                            '</td></tr>';
                        htmlBuffer += '</tbody><tfoot><td>' + (month / 12).toFixed(2) + ' years</td><td>' +
                            totalPrincipal.toFixed(2) + '</td><td>' + totalInterest.toFixed(2) +
                            '</td><td></td></tfoot></table>' + tableStart;
                    } else if (loanPrincipal < loanEmi) {
                        loanEmi = loanPrincipal + monthInterest;
                        loanPrincipal = loanPrincipal + monthInterest - loanEmi;
                        flush = '';
                        principal = loanEmi - monthInterest;
                        totalPrincipal += principal;
                        htmlBuffer += '<tr><td>' + month + '</td><td>' + principal.toFixed(2) + '</td><td>' +
                            monthInterest.toFixed(2) + '</td><td>' + loanPrincipal.toFixed(2) + ' ' + flush +
                            '</td></tr>';
                    } else {
                        loanPrincipal = loanPrincipal + monthInterest - loanEmi;
                        flush = '';
                        totalPrincipal += principal;
                        htmlBuffer += '<tr><td>' + month + '</td><td>' + principal.toFixed(2) + '</td><td>' +
                            monthInterest.toFixed(2) + '</td><td>' + loanPrincipal.toFixed(2) + ' ' + flush +
                            '</td></tr>';
                    }
                } else {
                    loanPrincipal = loanPrincipal + monthInterest - loanEmi;
                    totalPrincipal += principal;
                    htmlBuffer += '<tr><td>' + month + '</td><td>' + principal.toFixed(2) + '</td><td>' + monthInterest
                        .toFixed(2) + '</td><td>' + loanPrincipal.toFixed(2) + '</td></tr>';
                }
            }

            htmlBuffer += '</tbody><tfoot><td>' + (month / 12).toFixed(2) + ' years</td><td>' + totalPrincipal.toFixed(
                2) + '</td><td>' + totalInterest.toFixed(2) + '</td><td></td></tfoot></table>';

            $('#' + loanName + '_result').html(htmlBuffer);
            $('#' + loanName + '_result_footer').html((month / 12).toFixed(2) +
                ' years <div class="pull-right">Interest:' + totalInterest.toFixed(2) + '</div>');
            totalMonthEmi();
            totalEarning();
            currentInterest = parseFloat($('#home_result > table tr:first-child td:nth-child(3)').html()) +
                parseFloat($('#topup_result > table tr:first-child td:nth-child(3)').html()) +
                parseFloat($('#education_result > table tr:first-child td:nth-child(3)').html());
            $('#month_interest_total').html(currentInterest.toFixed(2));
            $('#day_interest_total').html((currentInterest / 30).toFixed(2));
            $('#hour_interest_total').html((currentInterest / 30 / 24).toFixed(2));
            $('#min_interest_total').html((currentInterest / 30 / 24 / 60).toFixed(2));
        }

        Vue.component('exp-panel', {
            props: ['todo'],
            template: html`
            <div class="row">
                
                <div v-for="expense in todo">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-transparent text-uppercase">
                                <label>{{expense.name}}</label>
                                <span class="label label-success pull-right">{{expense.account}}</span>
                            </div>    
                            <ul class="list-group">
                                <li class="list-group-item" v-for="expenseItem, itemObjKey in expense.expenses">
                                    {{ expenseItem.name }}  <label class="pull-right"><span class="label label-primary mr-2">{{expenseItem.assignee}}</span> {{ (expenseItem.amount/12).toFixed(2) }}</label>
                                    <div v-text="makeTotal(expenseItem.amount, itemObjKey)" hidden></div>
                                </li>
                            </ul>
                            <div class="panel-footer">Total: <span class="pull-right">{{collectTotal(itemTotal)}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="container container-sm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-default text-center">
                                <div class="panel-body">
                                    <h5>Yearly</h5>
                                    <h1>{{ (expenseTotal * 12).toFixed(2) }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-default text-center">
                                <div class="panel-body">
                                    <h5>Monthly</h5>
                                    <h1>{{ (expenseTotal).toFixed(2) }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `,
            methods: {
                makeTotal: function (newVal, indx) {
                    if (indx === 0) {
                        this.itemTotal = 0;
                    }
                    this.itemTotal += newVal / 12;
                    return (this.itemTotal).toFixed(2);
                },
                collectTotal: function (val) {
                    if(this.expenseTotal < 52500) {
                        this.expenseTotal += parseFloat(val);
                    }
                    return val.toFixed(2);
                }
            },
            data: function () {
                return {
                    itemTotal: 0,
                    expenseTotal: 0,
                }
            },

        });

        Vue.component('inout-panel', {
            props: ['todo'],
            template: html`
            <div class="row">
                
                <div v-for="(expense, index) in todo">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-transparent text-uppercase">
                                <label>{{expense.name}}</label>
                                <span class="label label-success pull-right">{{expense.account}}</span>
                            </div>    
                            <ul class="list-group">
                                <li class="list-group-item" v-for="expenseItem, itemObjKey in expense.expenses">
                                    {{ expenseItem.name }}  <label class="pull-right"><span class="label label-primary mr-2">{{expenseItem.assignee}}</span> {{ (expenseItem.amount/12).toFixed(2) }}</label>
                                    <div v-text="makeTotal(expenseItem.amount, itemObjKey)" hidden></div>
                                </li>
                            </ul>
                            <div class="panel-footer">Total: <span class="pull-right">{{collectTotal(itemTotal, index)}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="container container-sm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-default text-center">
                                <div class="panel-body">
                                    <h5>Incoming</h5>
                                    <h1>{{ (incomeTotal).toFixed(2) }}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-default text-center">
                                <div class="panel-body">
                                    <h5>Outgoing</h5>
                                    <h1>{{ (expenseTotal).toFixed(2) }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `,
            methods: {
                makeTotal: function (newVal, indx) {
                    if (indx === 0) {
                        this.itemTotal = 0;
                    }
                    this.itemTotal += newVal / 12;
                    return (this.itemTotal).toFixed(2);
                },
                collectTotal: function (val, indx) {
                    if(indx === 0) {
                        this.incomeTotal += parseFloat(val);
                    }
                    if(indx === 1) {
                        this.expenseTotal += parseFloat(val);
                    }
                    return val.toFixed(2);
                }
            },
            data: function () {
                return {
                    itemTotal: 0,
                    expenseTotal: 0,
                    incomeTotal: 0,
                }
            },

        })

        var app = new Vue({
            el: '#app',
            data: {
                loans: {
                    home: {
                        principal: 1360266,
                        emi: 16913,
                        rate: 8.6,
                        lumSum: 10000
                    },
                    topup: {
                        principal: 1548501,
                        emi: 32694,
                        rate: 9.3
                    },
                    education: {
                        principal: 936442,
                        emi: 22245,
                        rate: 12.0,
                        lumSum: 5000
                    }
                },
                regular: [
                    {
                        name: "LIC",
                        slug: "lic",
                        account: 'account - KTK',
                        expenses:[
                            {
                                name: 'mom',
                                amount: 17000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'radhika',
                                amount: 9000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'gaurav',
                                amount: 23000,
                                assignee: 'pappa'
                            }
                        ]
                    },
                    {
                        name: "Medical CLaim",
                        slug: "mediClaim",
                        account: 'account - KTK',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 9749,
                                assignee: 'pappa'
                            },
                            {
                                name: 'radhika',
                                amount: 6396,
                                assignee: 'pappa'
                            },
                            {
                                name: 'pappa',
                                amount: 17659,
                                assignee: 'pappa'
                            }
                        ]
                    },
                    {
                        name: "Fuel",
                        slug: "fuel",
                        account: 'operative',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 12000,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'radhika',
                                amount: 24000,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'pappa',
                                amount: 12000,
                                assignee: 'pappa',
                                flush: true
                            }
                        ]
                    },
                    {
                        name: "Groceries",
                        slug: "groceries",
                        account: 'account - DAD BOB',
                        expenses:[
                            {
                                name: 'Main',
                                amount: 60000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'milk',
                                amount: 18000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'dog',
                                amount: 18000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'veg',
                                amount: 24000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'fruits',
                                amount: 9600,
                                assignee: 'gaurav'
                            },
                            {
                                name: 'juice',
                                amount: 4800,
                                assignee: 'gaurav'
                            },
                        ]
                    },
                    {
                        name: "Household",
                        slug: "household",
                        account: 'account - MOM CENT',
                        expenses:[
                            {
                                name: 'society',
                                amount: 7200,
                                assignee: 'pappa'
                            },
                            {
                                name: 'gas',
                                amount: 12000,
                                assignee: 'pappa',
                                flush: true
                            },
                            {
                                name: 'maid',
                                amount: 72000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'iron',
                                amount: 7200,
                                assignee: 'pappa'
                            },
                            {
                                name: 'electric',
                                amount: 36000,
                                assignee: 'pappa',
                                flush: true
                            },
                            {
                                name: 'gtpl',
                                amount: 4800,
                                assignee: 'pappa'
                            },
                            {
                                name: 'amc',
                                amount: 1200,
                                assignee: 'pappa'
                            },
                            {
                                name: 'repair',
                                amount: 5040,
                                assignee: 'pappa',
                                flush: true
                            },
                            {
                                name: 'maintenance',
                                amount: 30000,
                                assignee: 'pappa',
                                flush: true
                            }
                        ]
                    },
                    {
                        name: "Long term",
                        slug: "longTerm",
                        account: 'account - KTK',
                        expenses:[
                            {
                                name: 'masala',
                                amount: 9600,
                                assignee: 'pappa'
                            },
                            {
                                name: 'grains',
                                amount: 9600,
                                assignee: 'pappa'
                            },
                            {
                                name: 'pickle',
                                amount: 3000,
                                assignee: 'pappa'
                            },
                            {
                                name: 'internet',
                                amount: 5040,
                                assignee: 'pappa'
                            },
                        ]
                    },
                    {
                        name: "Food",
                        slug: "food",
                        account: 'operative',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 24000,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'radhika',
                                amount: 12000,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'pappa',
                                amount: 8400,
                                assignee: 'pappa',
                                flush: true
                            },
                            {
                                name: 'home',
                                amount: 24000,
                                assignee: 'pappa',
                                flush: true
                            }
                        ]
                    },
                    {
                        name: "Health",
                        slug: "health",
                        account: 'account - DBS',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 9600,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'radhika',
                                amount: 15120,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'mom',
                                amount: 5040,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'medicine',
                                amount: 12000,
                                assignee: 'pappa',
                                flush: true
                            }
                        ]
                    },
                    {
                        name: "entertainment",
                        slug: "entertainment",
                        account: 'account - axis',
                        expenses:[
                            {
                                name: 'shopping',
                                amount: 60000,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'birthday',
                                amount: 9600,
                                assignee: 'gaurav'
                            },
                            {
                                name: 'netflix',
                                amount: 9600,
                                assignee: 'gaurav',
                                flush: true
                            }
                        ]
                    },   
                    {
                        name: "Mobile",
                        slug: "mobile",
                        account: 'operative',
                        expenses:[
                            {
                                name: 'mom',
                                amount: 2400,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'pappa',
                                amount: 1200,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'radhika',
                                amount: 2400,
                                assignee: 'radhika',
                                flush: true
                            },
                            {
                                name: 'gaurav',
                                amount: 2400,
                                assignee: 'gaurav',
                                flush: true
                            },
                        ]
                    },
                    {
                        name: "Vehicles",
                        slug: "vehicles",
                        account: 'account - BOB',
                        expenses:[
                            {
                                name: 'activa 1',
                                amount: 3000,
                                assignee: 'gaurav',
                                flush: true
                            },
                            {
                                name: 'activa 2',
                                amount: 3000,
                                assignee: 'radhika',
                                flush: true
                            }
                        ]
                    },   
                ],
                savings: [
                    {
                        name: "lump Sum",
                        slug: "lumpsum",
                        account: 'account - REC 1',
                        expenses:[
                            {
                                name: 'gaurav',
                                amount: 60000,
                                assignee: 'gaurav'
                            }
                        ]
                    },
                    {
                        name: "lump Sum",
                        slug: "lumpsum2",
                        account: 'account - REC 2',
                        expenses:[
                            {
                                name: 'radhika',
                                amount: 60000,
                                assignee: 'radhika'
                            }
                        ]
                    },
                    {
                        name: "nsc",
                        slug: "nsc",
                        account: 'account - nsc',
                        expenses:[
                            {
                                name: 'mummy',
                                amount: 12000,
                                assignee: 'mummy'
                            }
                        ]
                    },
                    
                ],
                inOut: [
                    {
                        name: "Income",
                        slug: "income",
                        expenses:[
                            {
                                name: 'Salary',
                                amount: 972000,
                                assignee: 'gaurav'
                            },
                            {
                                name: 'Salary',
                                amount: 360000,
                                assignee: 'radhika'
                            },
                            {
                                name: 'Ownership',
                                amount: 420000,
                                assignee: 'pappa'
                            },
                        ]
                    },
                    {
                        name: "Expenditure",
                        slug: "expenditure",
                        expenses:[
                            {
                                name: 'loan',
                                amount: 794940
                            },
                            {
                                name: 'regular',
                                amount: 657244
                            },
                            {
                                name: 'savings',
                                amount: 132000
                            }
                        ]
                    }
                ]
            }
        })
    </script>
</body>

</html>
