:root {
    --page-border: 1px solid rgb(228, 228, 228);
    --margin-base: 1.6cm;
    --base-color: rgb(108, 108, 108);
}

* {
    box-sizing: border-box;
}

body {
    background: rgb(204, 204, 204);
    font-family: 'Open Sans', sans-serif;
    color: var(--base-color);
    font-size: 12px;
}

h1 {
    font-weight: bold;
    color: rgb(66, 63, 64);
    font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page>.wrapper>.content-side>main {
    display: block;
    height: 24.1cm;
    padding-right: var(--margin-base);
}

page>.wrapper>.content-side>header {
    display: flex;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.col img {
    width: 32px;
    display: block;
    margin: 0 auto;
}

.col img.img-64 {
    width: 64px;
}

.fa,
.info address {
    font-size: 12px;
    font-style: normal;
}

page>.wrapper>.content-side>header .info address {
    color: rgba(151, 151, 151);
}

page>.wrapper>.content-side>header h1 {
    font-weight: 800;
    margin: 0;
}

page>.wrapper>.content-side>header>img {
    height: 72px;
    border-radius: 50%;
    margin-right: 16px
}

page>.wrapper>aside h2,
page>.wrapper>.content-side>main>section h2 {
    margin-top: 0;
    color: rgb(108, 80, 111);
    font-size: 16px;
}

page>.wrapper>.content-side>main>section h3 {
    color: #333;
    font-size: 14px;
    margin-bottom: 2px;
}

page>.wrapper>.content-side>main>section h3~p {
    margin-top: 8px;
}

page>.wrapper>.content-side>main>section,
page>.wrapper>aside>.content {
    margin-bottom: 40px;
}

page>.wrapper>.content-side>main>section .content::before {
    content: ' ';
    position: absolute;
    background-color: rgb(237, 237, 237);
    width: 3px;
    height: calc(100% - 10px);
    top: 5px;
    bottom: 0;
    left: -30px;
}

page>.wrapper>.content-side>main>section .content {
    position: relative;
    margin-left: 30px;
}

section>.content ul {
    list-style-type: circle;
    padding-left: 15px;
}

section>.content ul>li {
    padding: 2px 0;
}

section>.content>.content-entry {
    margin-bottom: 20px;
}

section>.content>.content-entry .location {
    margin-right: 16px;
}

section>.content>.content-entry .fa {
    margin-right: 4px;
}

page>.wrapper>aside {
    width: 5.88cm;
    top: 10px;
    padding: 48px 30px 0;
}

page>.wrapper>aside p * {
    vertical-align: middle;
}

page>.wrapper>aside p {
    line-height: 1.8;
}

page>.wrapper>aside p .fa {
    font-size: 16px;
    margin-right: 10px;
}

page>.wrapper>aside .col {
    text-align: center;
    font-size: 9px;
    padding-bottom: 16px;
}

page>.wrapper>footer {
    border-top: var(--page-border);
    padding: 14px 6%;
    color: rgb(197, 197, 197);
}

page>.wrapper>footer .social-icons * {
    vertical-align: middle;
}

page>.wrapper>footer .social-icons {
    font-size: 14px;
}

page>.wrapper>footer .social-icons .fa {

    margin-right: 8px;
    font-size: 24px;
}

page>.wrapper>.content-side>main,
page>.wrapper>.content-side>header {
    padding-left: var(--margin-base);
    border-right: var(--page-border);
}

/* page>aside+main,
page>header {
    width: 15.12cm;
} */

page[size="A4"] {
    width: 21cm;
    height: 29.69cm;
}

progress {
    height: 2px;
    background-color: #cbcbcb;
    border-radius: 2px;
    display: block;
    margin: 8px 0 16px 0;
    width: 80%;
}

progress::-webkit-progress-bar {
    background-color: #cbcbcb;
}

progress::-webkit-progress-value {
    background-color: #b65f71;
}

.pb-0 {
    padding-bottom: 0 !important;
}

@media print {

    body,
    page {
        margin: 0;
        box-shadow: 0;
    }

    page>aside {
        top: 0;
    }
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: left;

}

.page-pt {
    padding-top: 1.2cm !important;
}

.header-pb {
    padding-bottom: 1cm;
}

.wrapper>* {
    flex: 1 100%;
}

.content-side {
    text-align: left;
}

.aside {
    flex: 1 0 0;
}

.content-side {
    flex: 3 0px;
}

.content-side {
    order: 2;
    height: 28.2cm;
}

.aside {
    order: 3;
}

footer {
    order: 4;
}